@import "../../global.css";

.Root {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(to bottom right, #9cd5d0, #e19dbe);
  min-height: 100vh;
  width: 100%;
}

.title {
  color: white;
}
