@import "../../global.css";

.logged-in-as-wrapper {
  display: grid;
  position: sticky;
  top: 0px;
}

.logged-in-as {
  font-size: 16px;
  background-color: #efdfef;
  border-bottom-left-radius: 20px;
  width: fit-content;
  height: fit-content;
  justify-self: end;
  padding: 10px 50px;
  margin: 0px;
  text-align: right;
}

.logged-in-user {
  color: hotpink;
}
